@import url('https://fonts.googleapis.com/css2?family=Jost:wght@600&family=Noto+Sans:wght@300;400;600&family=Quicksand:wght@300;500;600&family=Roboto:ital,wght@0,100;0,400;0,500;0,700;1,300&family=Ubuntu:wght@300&family=Work+Sans:wght@900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
}

$red: #ff0000;
$white-clr: #fff;
$black-clr: rgb(0, 0, 0);
$light-clr: rgb(179, 179, 179);

html {
    font-size: 75%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    background-color: $white-clr;

}

.heading {
    font-size: 2.5rem;
    margin: 4rem 0 2rem 2.5rem;
    text-align: left;
    // font-family: Tajawal Bold;
}

#men-nav-b {
    margin-left: 14rem;
}

header {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    background-color: $white-clr;
}

.top-head {
    justify-content: space-between;
    display: flex;
    padding: 15px 2%;

    a {
        text-transform: uppercase;
        font-size: 3.4rem;
        font-weight: bold;
        letter-spacing: 5px;
        color: $black-clr;

        span {
            color: red;
        }
    }

    form {
        display: flex;
        align-items: center;
        width: 50%;
        height: 45px;
        overflow: hidden;
        border-radius: 30px;
        background-color: $white-clr;
        border: 2px solid $light-clr;

        &:hover{
            border: 2px solid $black-clr;
        }

        input {
            width: 100%;
            height: 100%;
            background: none;
            font-size: 1.4rem;
            color: $black-clr;
            padding: 0 20px;
            text-transform: none;
        }

        label {
            font-size: 2rem;
            padding: 17px;
            color: $black-clr;
            cursor: pointer;
            transition: 1s;

            &:hover {
                color: $red;
            }
        }
    }

    .icons-mbl {

        display: none;

        .hide-icons {
            display: flex;

            a {
                width: 30px;
                height: 30px;
                text-align: center;
                margin-right: 14px;
                transition: 0.4s;

                &:hover {
                    transform: rotate(360deg);

                }
            }
        }
    }

    .icons-pc {

        display: flex;

        a {
            width: 30px;
            height: 30px;
            text-align: center;
            margin-right: 14px;
            transition: 0.4s;

            &:hover {
                transform: rotate(360deg);

            }
        }
    }

}

// button section css

.menu-btn {
    display: flex;
    justify-content: center;
    margin-top: .6rem;
    gap: 2rem;

    a {
        width: 12rem;
        padding: .8rem 1.5rem;
        font-size: 1.2rem;
        color: $black-clr;
        text-align: center;
        font-weight: 600;
        background-color: $white-clr;
        border: 1px solid grey;
        border-radius: 50px;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
            background-color: $black-clr;
            color: $white-clr;
        }
    }

    #active {
        background-color: $black-clr;
        color: $white-clr;
    }
}